body{
	background-color:#dfdfdf;
}
main{
	margin-bottom:800px;
}

header{
	background: linear-gradient(#aad 90%,grey);
	box-shadow: 2px 2px black;
	color:white;
}

#logo,h1{
	display:inline-block;
}

#logo{
	height: 100px;
	width:100px;
	background-image:url(images/cropped-insert-logo-here.png);
	background-repeat: no-repeat;
	background-size:contain;
	margin-left:10px;
	margin-top: 10px;
}

#title{
	position: relative;
	top:-30px;
	margin-left: 30px;
	font-family: sans-serif;
	font-size: 40px;
}

#jq-menu{
	display:none;
}

#mainNavigation{
  	position: -webkit-sticky;
	position: sticky;
	z-index: 4;
	right:0px;
	top:0px;
	width:100%;
	height:33px;
	background-color:#3e4344;
}

nav a li{
	display: inline-block;
    font-family: sans-serif;
    font-size: 9px;
    text-align: center;
    width:60px;
    font-size: 12px;
    line-height: 3px;
    margin-left:20px;
    padding: 15px 10px 15px 10px;
}

nav a li:hover{
	background-color: #36b0ca;
}

a{
	color: white;
	text-decoration: none;
}


main{
	margin-top:120px;
}
h2{
	margin-left: 60%;
	padding:15px;
	border:solid #55555577;
	font-family:sans-serif;
	width:content-width;
	font-size: 20px;
	background-color:white;
	text-align: center;
}

p{
	margin-left: 20px;
	margin-right: 50%;
	padding:15px;
	border:solid #55555511;
	font-family:sans-serif;
	width:content-width;
	font-size: 16px;
	background-color:white;
	text-indent: 22px;
}

footer{
	background-color: white;
	border: solid #aaaaaa;
	width:100%;
	height:50px;
	font-family: arial;
	text-align: center;
}

.toggleBox{
	height:150px;
	width:200px;
	text-align: center;
	display: none;
	color: white;
	font-family: arial;
	font-size: 25px;
	line-height: 150px;
}

/*Carousel Styles*/
button{
	cursor: pointer;
}

.carousel{
	position: relative;
	height:300px;
	width:400px;
	transform: translate(100px,-150px);
}

.carouselImage{
	display: none;
	width:100%;
	height:100%;
}

.carouselTrackContainer{
	position: relative;
	height:100%;
	background: #ccc;
	overflow: hidden;
}

.carouselTrack{
	padding:0;
	margin:0;
	list-style:none;
	position: relative;
	height:100%;
	transition: transform 250ms ease-in;
}

.carouselSlide{
	position: absolute;
	top:0;
	bottom:0;
	width:100%;
}

.carouselButtonLeft{
	position: absolute;
	left:-20px;
	top:50%;
	transform: translateY(-50%);
	z-index: 2;
	height:100px;
	border: 0;
	background-color: rgba(0,0,50,.2);
}

.carouselButtonRight{
	position: absolute;
	right:-20px;
	top:50%;
	transform: translateY(-50%);
	z-index: 2;
	height:100px;
	border: 0;
	background-color: rgba(0,0,50,.2);
}

.carouselNav{
	position: absolute;
	bottom:-28px;
	width:100%;
	padding:5px 0;
	text-align: center;
}

.carouselIndicator{
	margin:0 15px;
	border:0;
	border-radius: 50%;
	background:grey;
	height:10px;
	width:10px;
}

.carouselIndicator.currentSlide{
	background:black;
}
/*End carousel*/

#address{
	border:solid #55555577;
	width:500px;
	height:100%;
	padding-top: 10px;
	margin-left:40px;
	background-color: white;
}
#mapImage{
	transform: translateY(4px);
	width:500px;
}
.addressLabel{
	font-family: sans-serif;
	margin-left: 5px;
}
.addressValue{
	float:right;
	margin-right: 5px;
}

#contactForm{
	position: absolute;
	left:7%;
	width:fit-content;
	padding:16px;
	font-family: arial;
	background-color: white;
	border:solid #555555;
	border-radius:13px;
}
.contact{
	margin:13px;
}

@media only screen and (max-width: 960px){
	#logo{
		height:60px;
		width:60px;
	}
	#title{
		position: absolute;
		top:18px;
		font-size:20px;
	}
	main{
		position: relative;
		top:-70px;
	}
	main > *{
		margin:5px 0 5px 0;
	}
	#contactForm{
		position: static;
	}
	.carousel{
		transform: translate(0,0);
		margin:auto;
	}
}

@media only screen and (max-width: 580px){
	h2{
		font-size: 16px;
	}
	footer h3{
		font-size: 13px;
	}
	.carousel{
		transform: translate(5px,0);
		width:300px;
		height:200px;
	}
	.carouselIndicator{
		padding:0;
		width:8px;
		height:9px;
		margin:0 6px;
	}
	#address{
		width:90%;
		margin:auto;
	}
	#mapImage{
		width:100%;
	}
	#contactForm{
		width:90%;
		margin:auto;
	}
	.contact{
		margin:5px;
	}
}

@media only screen and (max-width:500px){
	#jq-menu{
		cursor: pointer;
 		position: -webkit-sticky;
		position: sticky;
		top:-50px;
		display:block;
		font-family: tahoma, arial;
		font-size: 24px;
		color:white;
		line-height: 50px;
		padding-left: 20%;
		padding-right: 30%;
		height:50px;
		padding-bottom: 9px;
		text-align: center;
		background-color: #223;
		z-index: 4;
	}
	#mainNavigation{
		background:none;
	}
	#mainNavigation ul{
		z-index: 3;
		position: relative;
		top:-40px;
		display: none;
		margin-top: 40px;
		background-color: white;
		padding:15px 30% 10px 30%;
	}
	nav a li{
		background:none;
		border:none;
		color:black;
	}
}

@media only screen and (max-width: 350px){
	#title{
		font-size: 16px;
	}
	.carousel{
		width:270px;
		height:170px;
	}
	
}